/* common */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  color: #22577a;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  margin: 0;
  line-height: 1.6;
}

p + P {
  margin-top: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

.btn {
  display: block;
  width: 160px;
  background: #329e00;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;
  font-weight: bold;
}

.container {
  width: calc(100% - 32px);
  margin: 0 auto;
  /* outline: 2px solid red; */
  max-width: 800px;
}


/* header */

header {
  /* background:#EEE; */
  padding: 16px 0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero */

.hero {
  background-color: #99e6ff;
  background-image: url(../img/bg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-top: 64px;
  text-align: center;
}

.hero p {
  margin-top: 8px;
}

.hero .btn {
  margin: 64px auto 0;
}

.hero img {
  margin-top: 64px;
  border-radius: 50%;
}

/* memory */

.memory {
  padding: 64px 0;
}

.memory h1 {
  text-align: center;
  padding-bottom: 64px;
}

.memory .pic {
  text-align: center;
}

.memory img {
  border-radius: 10%;
  padding-left: 10px;
  padding-right: 10px;
}

.memory h2 {
  padding-bottom: 16px;;
}

.memory section + section {
  margin-top: 50px;
}

/* voices */

.voices {
  background: #99e6ff;
}

.voices section {
  background: #FFF;
  padding: 16px;
  border-radius: 16px;
}

.voices h1 {
  text-align: center;
  padding-bottom: 64px;
}

.voices img {
  border-radius: 50%;
  /* width: 40px;
  height: 40px; */
}

.voices footer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.voices section + section {
  margin-top: 16px;
}

.call-to-action {
  padding: 64px 0;
  background-color: #85d8f2;
  background-image: url(../img/bg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-top: 64px;
  text-align: center;
}

.call-to-action h1 {
  text-align: center;
  padding-bottom: 64px;
}

.call-to-action .btn {
  margin: 0 auto;
}

/* copyright */

.copyright {
  background: #323435;
  padding: 64px 0;
  text-align: center;
}

.copyright small {
  font-size: 16ps;
  color: #EEE;
}

/* large screen for PC */

@media (min-width: 600px) {

  .hero .container {
    display: flex;
    align-items: center;
  }

  .hero .desc,
  .hero .pic {
    width: 50%;
  }

  .hero img {
    width: calc(100% - 32px);
    height: auto;
    margin-top: 0;
  }

  .memory section {
    display: flex;
  }

  .memory section:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .voices .container {
    display: flex;
    gap: 16px;
  }

  .voices section + section {
    margin-top: 0;
  }

  .voices section {
    width: calc((100%-32px)/3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}